/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 4px solid var(--Dark-Gray);
    outline-offset: 3px;
    border-radius: 4px;
}

:root {
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Alata", "Josefin Sans";
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header And Hero */
.header-hero-wrapper {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
}

.header-hero-wrapper .hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-hero-wrapper .container {
    position: relative;
    min-height: 90vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header .header__nav .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header .header__nav .nav__list .nav__link {
    position: relative;
    padding-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

.header .header__nav .nav__list .nav__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: #fff;
    transition: 0.3s;
}

.header .header__nav .nav__list .nav__link:hover::after {
    content: "";
    width: 60%;
    height: 3px;
}

.header .header__menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header .header__menu-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-hero-wrapper {
        background-position: center;
    }

    .header .header__nav {
        display: none;
    }
}

.mobile-nav {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: #000;
    display: none;
    z-index: 10;
    transition: 0.5s;
}

.mobile-nav.opened {
    transform: translateX(0);
}

.mobile-nav .mobile-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav .mobile-nav__header .mobile-nav__close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav .mobile-nav__list {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mobile-nav .mobile-nav__list .mobile-nav__link {
    position: relative;
    padding-bottom: 12px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    transition: 0.3s;
}

.mobile-nav .mobile-nav__list .mobile-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.mobile-nav .mobile-nav__list .mobile-nav__link:hover::after {
    width: 100%;
}

.hero .heading {
    max-width: 470px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero .heading h1 {
    padding: 2rem;
    border: 1px solid #fff;
    display: inline-block;
    font-size: clamp(2rem, 4.5vw, 3.2rem);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .hero .heading {
        max-width: calc(100% - 30px);
    }
}

/* End Header And Hero */

/* Start VR Experience */
.vr-experience {
    padding-top: 180px;
    padding-bottom: 180px;
}

.vr-experience .container {
    position: relative;
}

.vr-experience-image img {
    min-width: 731px;
    min-height: 500px;
}

.vr-experience .container .vr-experience-content {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
    width: 50%;
    padding: 90px 90px 0 90px;
    background-color: white;
}

.vr-experience .container .vr-experience-content h2 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 300;
    font-family: "Josefin Sans";
    text-transform: uppercase;
}

.vr-experience .container .vr-experience-content p {
    font-size: 14px;
    color: var(--Dark-Gray);
    line-height: 1.7;
}

@media (max-width: 992px) {
    .vr-experience {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .vr-experience .container {
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vr-experience .container img {
        max-width: 100%;
    }

    .vr-experience .container .vr-experience-content {
        position: unset;
        text-align: left;
        padding: 0;
        width: 100% !important;
    }

    .vr-experience .container .vr-experience-content h2 {
        margin: 40px 0 25px;
        font-size: 36px;
    }

    .vr-experience .container .vr-experience-content p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .vr-experience-image img {
        min-width: 100%;
        min-height: 100%;
    }
    .vr-experience .container .vr-experience-content {
        text-align: center;
        width: 90% !important;
    }
}

/* End VR Experience */

/* Start Creations Section*/
.creations .title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations .title-button-container .creations-title {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Josefin Sans";
}

.creations .title-button-container .see-all-button {
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: white;
    font-family: 'Alata';
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: black;
    cursor: pointer;
    transition: 0.3s;
}

.creations .title-button-container .see-all-button:hover {
    border: 2px solid var(--Dark-Gray);
    background-color: white;
    color: black;
}

.creations .creations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 90px 0 150px;
}

.creation-item {
    position: relative;
    overflow: hidden;
}

.creation-item img {
    width: 100%;
    height: auto;
    display: block;
}

.creation-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.3;
    transition: 0.3s ease-in-out;
}

.creation-item:hover::after {
    background-color: white;
    opacity: 0.3;
}

.creations .creations-grid .creation-item .creation-title {
    position: absolute;
    bottom: 15px;
    left: 30px;
    z-index: 5;
    max-width: 160px;
    color: white;
    font-size: 26px;
    font-weight: 300;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .creations {
        position: relative;
    }

    .creations .see-all-button {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, -30px);
    }

    .creations .title-button-container .creations-title {
        flex-grow: 1;
        text-align: center;
    }

    .creations .creations-grid {
        padding-top: 50px;
    }

    .creations .creations-grid .creation-item .creation-title {
        bottom: 15px;
        left: 15px;
        font-size: 26px;
    }
}

/* End Creations Section*/

/* Start Footer */
footer {
    background-color: black;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 40px;
    padding: 40px 0;
}

.footer-links {
    order: 3;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-social-icons a,
.footer-links a {
    padding-bottom: 15px;
    position: relative;
    color: white;
}

.footer-social-icons a::after,
.footer-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 0.4s;
}

.footer-links a:hover:after {
    width: 60%;
}

.footer-social-icons a:hover::after {
    width: 100%;
}

.footer-social-icons {
    order: 2;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.copyright {
    order: 4;
    color: var(--Very-Dark-Gray);
    font-size: 14px;
}

@media (max-width: 767px) {
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-links a {
        font-size: 18px;
    }
}

/* End Footer */
